<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="WarehouseStoreBaseUri" value="http://localhost:8005/" />
    <add key="WarehouseSyncSiteID" value="4" />
    <add key="WarehouseSyncIntervalSeconds" value="300" />
    <add key="ExitOnSingleRun" value="True" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="SyncDataDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=HivePropertiesSync;Integrated Security=true;MultipleActiveResultSets=True" />
    <add name="PropertiesSyncEntities" connectionString="metadata=res://*/Entities.PropertiesSyncEntities.csdl|res://*/Entities.PropertiesSyncEntities.ssdl|res://*/Entities.PropertiesSyncEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WinManProps;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="SyncDataDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=DEVELOPMENT-PC2;Initial Catalog=HiveSync_Site4;Integrated Security=False;User Id=sa;Password=developer;MultipleActiveResultSets=True" />
    <add name="PropertiesSyncEntities" connectionString="metadata=res://*/Entities.PropertiesSyncEntities.csdl|res://*/Entities.PropertiesSyncEntities.ssdl|res://*/Entities.PropertiesSyncEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEVELOPMENT-PC2;initial catalog=WinManSQLData002;Integrated Security=False;User Id=sa;Password=developer;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Api2Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://109.246.48.61/ApplicationFormApi_UAT/Diagnostics/Api2.asmx" binding="basicHttpBinding" bindingConfiguration="Api2Soap" contract="TCasApi.Api2Soap" name="Api2Soap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
