@using System.Web.UI.WebControls
@model Ganedata.Core.Entities.Domain.TenantEmailTemplates
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.HtmlEditor, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.HtmlEditor }
        )
}

@{
    ViewBag.Title = "Create Email Template";
}

<h2><span>Create Email Template</span></h2>
@Html.Partial("_TemplateForm", Model)
