@using Ganedata.Core.Entities.Helpers
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = ViewBag.productId + "deliverydetailsgridview" + ViewBag.processId;
        settings.CallbackRouteValues = new { Controller = "PurchaseOrders", Action = "_DeliveryDetails", ProcessId = ViewBag.processId };
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.Settings.ShowHeaderFilterButton = true;
        settings.SettingsPopup.HeaderFilter.Height = 200;
        settings.SettingsPopup.HeaderFilter.MinWidth = 500;

        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;

        settings.Columns.Add(col =>
        {
            col.FieldName = "OrderProcessDetailID";
            col.Visible = false;

        });
        settings.KeyFieldName = "OrderProcessDetailID";
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowFocusedRow = true;

        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;

        settings.Columns.Add("Name");
        settings.Columns.Add("SKUCode","Sku Code");
        settings.Columns.Add("QtyProcessed");
        settings.Columns.Add(c =>
        {
            c.FieldName = "DateCreated";
            c.Settings.AutoFilterCondition = AutoFilterCondition.Equals;
            c.ColumnType = MVCxGridViewColumnType.DateEdit;
            c.SetDataItemTemplateContent(m =>
            {
                var date = (DateTime?)DataBinder.Eval(m.DataItem, "DateCreated");
                DateTime? localDate = DateTimeToLocal.Convert(date, ViewBag.TimeZone);
                ViewContext.Writer.Write(localDate.HasValue ? localDate.Value.ToString("dd/MM/yyyy HH:mm") : "");
            });
        });
        settings.Columns.Add(column =>
        {
            column.Caption = "Actions";
            column.SetDataItemTemplateContent(m =>
            {
                var OrderprDetID = (int)DataBinder.Eval(m.DataItem, "OrderProcessDetailID");

                bool? statusSerialized = (bool?)DataBinder.Eval(m.DataItem, "Serialisable");
                bool? palletProduct = (bool?)DataBinder.Eval(m.DataItem, "ProcessByPallet");
                bool status = (bool)DataBinder.Eval(m.DataItem, "count");
                if (statusSerialized.HasValue && statusSerialized == true)
                {
                    var remove = "true";
                    var update = string.Format("UpdateProcessDetails({0},{1})", OrderprDetID, remove);
                    ViewContext.Writer.Write("<a title='Remove' class='fa fa-remove' style='cursor: pointer' href='#' onclick=" + update + "></a>");
                }
                else if (palletProduct.HasValue && palletProduct == true)
                {
                    
                    if (status)
                    {

                        var update = string.Format("UpdateInventoryDetails({0})", OrderprDetID);
                        ViewContext.Writer.Write("<a title='Update' class='fa fa-pencil' style='cursor: pointer' href='#' onclick=" + update + "></a>");
                    }
                }
                else
                {
                    var remove = "false";
                    var update = string.Format("UpdateProcessDetails({0},{1})", OrderprDetID, remove);
                    ViewContext.Writer.Write("<a title='Update' class='fa fa-pencil' style='cursor: pointer' href='#' onclick=" + update + "></a>");
                }

            });
        });

        settings.ClientSideEvents.FocusedRowChanged = "OnGridFocusedRowChanged";
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
    });
}
@grid.Bind(Model).GetHtml()