
@{
    ViewBag.Title = "Employees Shifts Details";
    ViewBag.SectionTitle = "Punch";
}
<div class="col-md-12 p-0 pull-right">
    <p>
        <button type="button" class="btn btn-success">Save</button>
        <a class="btn btn-danger" href="/">Cancel</a>
    </p>
</div>
<div class="table-responsive">
    <div class="col-7">
        <form class="form-horizontal">
            <div class="input-group h-100 justify-content-center align-items-center">
                <label for="example-tel-input" class="col-md-2 control-label">Start Time</label>
                <div class="col-md-6">
                    <input class="form-control" type="tel" value="7:55 AM" id="example-tel-input" readonly>
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                <label for="example-password-input" class="col-md-2 control-label">End Time</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="6:00 PM" id="example-password-input" readonly>
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                <label for="example-number-input" class="col-md-2 control-label">Total Time</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="1.55" id="example-number-input" readonly>
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                <label for="example-url-input" class="col-md-2 control-label">Status</label>
                <div class="col-md-6">
                    <input class="form-control" type="url" value="Lunch" id="example-url-input" readonly>
                </div>
            </div>
            <hr />
            <div class="input-group h-100 justify-content-center align-items-center">
                <label for="example-text-input" class="col-md-2 control-label">Employee</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="Nelson Mandela" id="example-text-input" readonly>
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                <label for="example-search-input" class="col-md-2 control-label">Date</label>
                <div class="col-md-6">
                    <input class="form-control" type="search" value="2/5/2017" id="example-search-input" readonly>
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                <label for="example-email-input" class="col-md-2 control-label">Week</label>
                <div class="col-md-6">
                    <input class="form-control" type="email" value="4" id="example-email-input" readonly>
                </div>
            </div>
            <hr />
            <div class="input-group h-100 justify-content-center align-items-center">
                <label for="example-number-input" class="col-md-2 control-label">Store</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" value="Walmart" id="example-number-input" readonly>
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                <label class="col-md-2 control-label" for="exampleTextarea">Notes</label>
                <div class="col-md-6">
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
