@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.WebDocumentViewer, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.WebDocumentViewer }
        )
}

@{
    Layout = "~/Views/Shared/_Layout-no-header-left.cshtml"; 
    ViewBag.Title = "Goods Book In Note Print";
}

<h2><span>@ViewBag.Title</span></h2>

@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "GoodsBookInNotePrintDocumentViewer";

}).Bind(Model).GetHtml()