@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.WebDocumentViewer, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.WebDocumentViewer }
        )
}

@{
    ViewBag.Title = "SLA Works order Report";
}

<h2><span>SLA Works order Report</span></h2>

@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "SlaWorksOrderReportDocumentViewer";

}).Bind(Model).GetHtml()