<footer>
    <div>
        <div class="container logo-slider">
            <div id="carousel0" class="owl-carousel owl-theme">
                <div class="text-center"><img src="/Content/app/img/brands/1.png" alt="" class="img-responsive" /></div>
                <div class="text-center"><img src="/Content/app/img/brands/2.png" alt="" class="img-responsive" /></div>
                <div class="text-center"><img src="/Content/app/img/brands/3.png" alt="" class="img-responsive" /></div>
                <div class="text-center"><img src="/Content/app/img/brands/4.png" alt="" class="img-responsive" /></div>
                <div class="text-center"><img src="/Content/app/img/brands/5.png" alt="" class="img-responsive" /></div>
                <div class="text-center"><img src="/Content/app/img/brands/6.png" alt="" class="img-responsive" /></div>
                <div class="text-center"><img src="/Content/app/img/brands/7.png" alt="" class="img-responsive" /></div>
                <div class="text-center"><img src="/Content/app/img/brands/8.png" alt="" class="img-responsive" /></div>
                <div class="text-center"><img src="/Content/app/img/brands/9.png" alt="" class="img-responsive" /></div>
            </div>
        </div>
        <hr class="footer-hr">
    </div>
    <div class="container">
        <div class="row">
            <div class="middle-footer">
                <aside id="column-left1" class="col-sm-4 col-xs-12">
                    <div>
                        <h5 class="hidden-sm hidden-lg hidden-md">
                            <span>About Us</span>
                            <button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#about"></button>
                        </h5>
                        <div id="about" class="collapse footer-collapse footabout">
                            <img src="/Content/app/img/logo.png" class="img-responsive" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis ultricies metus. Integer laoreet rhoncus ipsum, a ornare mi. Pellentesque elementum fringilla risus,</p>
                            <h5 class="text-capitalize">Follow Us</h5>
                            <ul class="list-unstyled list-inline social">
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li class="vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="col-sm-5 col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 fborder">
                            <h5>
                                Information
                                <button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#info"></button>
                            </h5>
                            <div id="info" class="collapse footer-collapse">
                                <ul class="list-unstyled">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="delivery-information.html">Delivery Information</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="terms.html">Terms &amp; Conditions</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="brands.html">BRANDS</a></li>
                                    <li class="li-mhp-menu">
                                        <a href="#">MHP</a>
                                        <ul class="mhp-menu">
                                            <li><a href="block-animation.html">Block Animation</a></li>
                                            <li><a href="gallery-mhp.html">Gallery</a></li>
                                            <li><a href="thumb.html">Thumb</a></li>
                                            <li><a href="links.html">Links</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 fborder">
                            <h5>
                                My Account
                                <button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#account"></button>
                            </h5>
                            <div id="account" class="collapse footer-collapse">
                                <ul class="list-unstyled lastb">
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="order.html">Order History</a></li>
                                    <li><a href="wish-list.html">Wish List</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <aside id="column-right1" class="col-sm-3 col-xs-12 fborder">
                    <div>
                        <h5>
                            <span>Contact us</span>
                            <button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#contact"></button>
                        </h5>
                        <div id="contact" class="collapse footer-collapse footcontact fborder">
                            <ul class="list-unstyled f-left">
                                <li><img src="/Content/app/img/icons/location.png" alt=""><span>76 Division St<br>Brick, NJ 08723</span></li>
                                <li><img src="/Content/app/img/icons/email.png" alt=""><span>contact@example.com</span></li>
                                <li><img src="/Content/app/img/icons/phone.png" alt=""><span>+1 123 456 7890</span></li>
                            </ul>
                            <br />
                            <h5 class="text-capitalize">Payment</h5>
                            <ul class="list-inline list-unstyled foot-payment">
                                <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                                <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="ui-footer text-center">
        <div class="container">
            <div class="ccopy">Powered By <a href="#">Test</a> SmartShop &copy; 2019</div>
        </div>
    </div>
</footer>
<a href="" id="scroll" title="Scroll to Top">
    <span id="slidetop"></span>
</a>
