
<div class="offerbanner hidden-xs">
    <div class="beffect">
        <a href="#">
            @*<img src="/Content/app/img/left-banner.jpg" alt="banner" class="img-responsive" />*@
        </a>
    </div>
</div>
