
<div class="ui-newsletter  ui-newsletter left-widgets text-center" id="ui-newsletter" data-mode="default">
    <form id="formNewLestter" method="post" action="#" class="formNewLestter">
        <div class="inner">
            <img src="/Content/app/img/newsletter.png" class="center-block" alt="">
            <h3>Newsletter</h3>
            <hr>
            <div class="description-top">
                <p>
                    wants to get latest updates ! sign up for free.
                </p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-md inputNew" onblur="javascript:if(this.value=='')this.value='Your email address';" onfocus="javascript:if(this.value=='Your email address')this.value='';" value="Your email address" size="18" name="email">
            </div>
            <div class="button-submit">
                <button type="submit" name="submitNewsletter" class="btn btn-block">Subscribe</button>
            </div>
            <input type="hidden" value="1" name="action">
            <div class="valid"></div>
            <div class="description-bottom">
            </div>
        </div>
    </form>
</div>
