<div class="category-tab tabpro pro-nepr">
    <div class="tab-head">
        <h1>
            <span>
                Top Category
                <i></i>
            </span>
        </h1>
    </div>
    <button type="button" class="toggle collapsed catb" data-toggle="collapse" data-target="#cat_tab"></button>
    <!--category-tab-->
    <div class="row">
        <div class="cat-tab">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 home-cat collapse footer-collapse" id="cat_tab">
                <ul class="nav nav-tabs">
                    <li class="active webTab"><a href="#tab-1" data-toggle="tab">Desktops</a></li>
                    <li class="webTab"><a href="#tab-2" data-toggle="tab">Web Cameras</a></li>
                    <li class="webTab"><a href="#tab-3" data-toggle="tab">Cameras</a></li>
                    <li class="webTab"><a href="#tab-4" data-toggle="tab">Components</a></li>
                    <li class="webTab"><a href="#tab-5" data-toggle="tab">Phones &amp; PDAs</a></li>
                    <li class="webTab"><a href="#tab-6" data-toggle="tab">Laptops</a></li>
                    <li class="webTab"><a href="#tab-7" data-toggle="tab">PC</a></li>
                    <li class="webTab"><a href="#tab-8" data-toggle="tab">Monitors</a></li>
                </ul>
            </div>
            <div class="tab-content col-lg-9 col-md-8 col-sm-7 col-xs-12">
                <div class="tab-pane fade active in" id="tab-1">
                    <div id="cattab" class="owl-theme owl-carousel">
                        <div class="product-layout col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="#"><img src="/Content/app/img/product/Canon-EOS-1300D-DSLR-Camera-Body-with-Single-Lens.jpg" alt="" title="" class="img-responsive center-block" /></a>
                                    <!-- Smartshop Images Start -->
                                    <!-- End -->
                                    <span class="salep">sale</span>
                                    <div class="topbutton">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Canon EOS 1300D DSLR Camera Body with Single Lens</a></h4>
                                    <div class="rating pull-left">
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="pricedis price text-right"><span class="price-new">$98.00</span> <span class="price-old">$344.00</span></p>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="acart">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="#"><img src="/Content/app/img/product/Canon-CS100-Connect-Station.jpg" alt="" title="" class="img-responsive center-block" /></a>
                                    <!-- Smartshop Images Start -->
                                    <!-- End -->
                                    <span class="salep">sale</span>
                                    <div class="topbutton">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Canon CS100 Connect Station</a></h4>
                                    <div class="rating pull-left">
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="pricedis price text-right"><span class="price-new">$98.00</span> <span class="price-old">$344.00</span></p>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="acart">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="#"><img src="/Content/app/img/product/Apple-iPhone-hover.jpg" alt="" title="" class="img-responsive center-block" /></a>
                                    <!-- Smartshop Images Start -->
                                    <!-- End -->
                                    <span class="salep">sale</span>
                                    <div class="topbutton">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Apple iPhone 6 (Gold, 32GB)</a></h4>
                                    <div class="rating pull-left">
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="pricedis price text-right"><span class="price-new">$98.00</span> <span class="price-old">$344.00</span></p>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="acart">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-2">
                    <div id="cattab1" class="owl-theme owl-carousel">
                        <div class="product-layout col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="#"><img src="/Content/app/img/product/Apple-iPhone-hover.jpg" alt="" title="" class="img-responsive center-block" /></a>
                                    <!-- Smartshop Images Start -->
                                    <!-- End -->
                                    <span class="salep">sale</span>
                                    <div class="topbutton">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Apple iPhone 6 (Gold, 32GB)</a></h4>
                                    <div class="rating pull-left">
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="pricedis price text-right"><span class="price-new">$98.00</span> <span class="price-old">$344.00</span></p>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="acart">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-3">
                    <div id="cattab2" class="owl-theme owl-carousel">
                        <div class="product-layout col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="#"><img src="/Content/app/img/product/Apple-iPhone-hover.jpg" alt="" title="" class="img-responsive center-block" /></a>
                                    <!-- Smartshop Images Start -->
                                    <!-- End -->
                                    <span class="salep">sale</span>
                                    <div class="topbutton">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Apple iPhone 6 (Gold, 32GB)</a></h4>
                                    <div class="rating pull-left">
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="pricedis price text-right"><span class="price-new">$98.00</span> <span class="price-old">$344.00</span></p>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="acart">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-4">
                    <div id="cattab3" class="owl-theme owl-carousel">
                        <div class="product-layout col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="#"><img src="/Content/app/img/product/Apple-iPhone-hover.jpg" alt="" title="" class="img-responsive center-block" /></a>
                                    <!-- Smartshop Images Start -->
                                    <!-- End -->
                                    <span class="salep">sale</span>
                                    <div class="topbutton">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Apple iPhone 6 (Gold, 32GB)</a></h4>
                                    <div class="rating pull-left">
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="pricedis price text-right"><span class="price-new">$98.00</span> <span class="price-old">$344.00</span></p>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="acart">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-5">
                    <div id="cattab4" class="owl-theme owl-carousel">
                        <div class="product-layout col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="#"><img src="/Content/app/img/product/Apple-iPhone-hover.jpg" alt="" title="" class="img-responsive center-block" /></a>
                                    <!-- Smartshop Images Start -->
                                    <!-- End -->
                                    <span class="salep">sale</span>
                                    <div class="topbutton">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Apple iPhone 6 (Gold, 32GB)</a></h4>
                                    <div class="rating pull-left">
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="pricedis price text-right"><span class="price-new">$98.00</span> <span class="price-old">$344.00</span></p>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="acart">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-6">
                    <div id="cattab5" class="owl-theme owl-carousel">
                        <div class="product-layout col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="#"><img src="/Content/app/img/product/Apple-iPhone-hover.jpg" alt="" title="" class="img-responsive center-block" /></a>
                                    <!-- Smartshop Images Start -->
                                    <!-- End -->
                                    <span class="salep">sale</span>
                                    <div class="topbutton">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Apple iPhone 6 (Gold, 32GB)</a></h4>
                                    <div class="rating pull-left">
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="pricedis price text-right"><span class="price-new">$98.00</span> <span class="price-old">$344.00</span></p>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="acart">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-7">
                    <div id="cattab6" class="owl-theme owl-carousel">
                        <div class="product-layout col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="#"><img src="/Content/app/img/product/Apple-iPhone-hover.jpg" alt="" title="" class="img-responsive center-block" /></a>
                                    <!-- Smartshop Images Start -->
                                    <!-- End -->
                                    <span class="salep">sale</span>
                                    <div class="topbutton">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Apple iPhone 6 (Gold, 32GB)</a></h4>
                                    <div class="rating pull-left">
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="pricedis price text-right"><span class="price-new">$98.00</span> <span class="price-old">$344.00</span></p>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="acart">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-8">
                    <div id="cattab7" class="owl-theme owl-carousel">
                        <div class="product-layout col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image">
                                    <a href="#"><img src="/Content/app/img/product/Apple-iPhone-hover.jpg" alt="" title="" class="img-responsive center-block" /></a>
                                    <!-- Smartshop Images Start -->
                                    <!-- End -->
                                    <span class="salep">sale</span>
                                    <div class="topbutton">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product" class="wishcom">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                                            </svg>
                                            <span class="hidden-xs"></span>
                                        </button>
                                        <div class="bquickv" title="quickview" data-toggle="tooltip"></div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Apple iPhone 6 (Gold, 32GB)</a></h4>
                                    <div class="rating pull-left">
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="pricedis price text-right"><span class="price-new">$98.00</span> <span class="price-old">$344.00</span></p>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="acart">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
