@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="about bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-12 ">
                <ul class="menu-about">
                    <li><a href="about.html">about Smartshop</a></li>
                    <li class="active"><a href="contact.html">contact</a></li>
                    <li><a href="privacy-policy.html">PRIVACY POLICY</a></li>
                    <li><a href="terms.html">TERMS AND CONDITIONS</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-12 bg-white">
                <div class="about-cnt">
                    <div class="content-wrapper select">
                        <h2 class="text-uppercase">CONTACT US</h2>
                        <hr />
                        <h4>Exchange/Returns</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                        <ul class="about-list">
                            <li>Broader selection of products</li>
                            <li>Superior buying experience</li>
                            <li>On-time delivery of products</li>
                            <li>Quick resolution of any concerns</li>
                        </ul>
                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing <a href="">Lorem Ipsum</a> passages. </p>
                        <h4>Other Enquiries</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Corporate Sales</td>
                                    <td><a href="mailto:corporate.sales@example.com">corporate.sales@example.com</a></td>
                                </tr>
                                <tr>
                                    <td style="padding-right:20px;"><span class="prm">Business Development &amp; Partnerships</span></td>
                                    <td><a href="mailto:partners@example.com">partners@example.com</a></td>
                                </tr>
                                <tr>
                                    <td>Careers</td>
                                    <td><a href="mailto:careers@example.com">careers@example.com</a></td>
                                </tr>
                                <tr>
                                    <td>Press Relations</td>
                                    <td><a href="mailto:pr@example.com">pr@example.com</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <h4>Other Enquiries</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        SmartShop Electronic Shop.<br>
                                        Brick, NJ 08723
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>