@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = ViewBag.settingsName;
        settings.CallbackRouteValues = ViewBag.routeValues;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.Settings.ShowHeaderFilterButton = true;
        settings.SettingsPopup.HeaderFilter.Height = 200;
        settings.SettingsPopup.HeaderFilter.MinWidth = 500;

        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.KeyFieldName = "LocationId";
        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowFocusedRow = true;

        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;

        settings.Columns.Add("ProductName", "Product");
        settings.Columns.Add("LocTypeName", "Location Type");
        settings.Columns.Add("Locdescription", "Location Group");
        settings.Columns.Add("LocationCode");
        settings.Columns.Add("WarehouseName");
        settings.ClientSideEvents.FocusedRowChanged = "OnGridFocusedRowChanged";
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
    });
}
@grid.Bind(Model).GetHtml()

@if (Request.Url.AbsolutePath.ToLower().Contains("edit"))
{
    <div class="bottom-right">
        @Html.ActionLink("Create New", "SaveLocation", null, new { @class = "btn btn-primary  " })
        @Html.ActionLink("Update", "SaveLocation", null, new { @class = "btn btn-primary  Caction", @id = "lnksavePrdLocation" })
        @Html.ActionLink("Delete", "DeleteLocation", null, new { @class = "btn btn-primary  Caction", @id = "lnksavePrdLocation" })
    </div>
}